label {
  font-family: cursive;
}

body {
  overflow: hidden;
}

.header {
  color: red;
  margin-bottom: -2%;
  text-align: center;
}

.Calculator {
  position: static;
  background: lightblue;
  width: 98%; height: 97%;
  position: fixed;
  left: 1%;
  text-align: center;
}

.methodChanger {
  text-align: center;
  position: fixed;
  top: 15%; left: 2%;
}

.changeButton {
  width: 300%;
  padding: 70%;
}

#greeting {
  z-index: 999;
  text-align: center;
  display: block;
  color: white;
  font-weight: bold;
  background-color: green;
  position: fixed; top: 7%;
  animation: dropAndFade 30s ease forwards;
}

@keyframes dropAndFade{
  0%{ display: block; }
  2%{ transform: translateY(30%)}
  5%{ transform: translateY(10%);  }
  50%{opacity: 1;}
  100%{transform: translateY(10%); opacity: 0;}
}