*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
h4{
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 600;
}

body{
text-align: center;
font-family: Arial;
}

.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #e39999;
  position:fixed;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  margin-right: 15px;

}
.logo {
  margin-left: 30px;
}
.logo a{
  text-decoration: none;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar a {
  display: block;
  padding: 23px 20px;
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0.2rem;
  border-radius: 1rem;
}

.navbar a:hover {
  background: #f59696;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  height: 60vh !important;
  background:   rgb(250, 113, 113) no-repeat center;
  background-size: cover;
} 
.title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
p{
  margin-bottom: 20px;
  font-size: 22px;

}
.content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.sau {
  padding: 40px;
  background: rgb(236, 175, 175);
  
}
.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
}
input{
  height: 2rem;
  width: 15rem;
  background: rgb(248, 198, 198);
  text-align: center;
  margin: 2rem;
}
.result {
  height: 2rem;
  width: 15rem;
  background: rgb(24, 19, 19);
  text-align: center;
  height: 2rem;
  width: 15rem;
  background: rgb(248, 198, 198);
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 .3 5rem rgba(123, 76, 76, 0.5);
  margin: 2rem;
  margin: 2rem;
}
.reset {
  height: 2rem;
  width: 15rem;
  
  background: rgb(30, 24, 24);
  text-align: center;
  height: 2rem;
  width: 15rem;
  background: rgb(248, 198, 198);
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 .3 5rem rgba(123, 76, 76, 0.5);
  margin: 2rem;
  margin: 2rem;
}
#initWarning {
  z-index: 999;
  display: block;
  color: white;
  font-weight: bold;
  background-color: green;
  position: fixed; top: 7%;
  animation: dropAndFade 30s ease forwards;
}

#errorWarning {
  color: white;
  font-weight: bold;
  background-color: red;
  position: fixed;top: 12%;
  animation: drop 0.7s ease forwards;
  display: none;
  animation: dropAndFade 30s ease forwards;
}

@keyframes dropAndFade{
  0%{ display: block; }
  2%{ transform: translateY(30%)}
  5%{ transform: translateY(10%);  }
  50%{opacity: 1;}
  100%{transform: translateY(10%); opacity: 0;}
}